@using OrchardCore.Settings
@inject ISiteService SiteService;

<input hidden="hidden" id="siteName" value="@SiteService.GetSiteSettingsAsync().Result.SiteName"/>
<input hidden="hidden" id="pageSize" value="@SiteService.GetSiteSettingsAsync().Result.PageSize"/>
<table class="table table-striped">
    <thead>
    <tr>
        <th>@T["List.Table.Id"]</th>
        <th>@T["List.Table.FriendlyName"]</th>
        <th>@T["List.Table.PayloadType"]</th>
        <th>@T["List.Table.Status"]</th>
        <th>@T["List.Table.Created"]</th>
        <th>@T["List.Table.Processed"]</th>
    </tr>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th>
            <select id="state">
                <option value="0">@T["List.State.Pending"]</option>
                <option value="1">@T["List.State.InProcessing"]</option>
                <option value="2">@T["List.State.Processed"]</option>
                <option value="3">@T["List.State.Failed"]</option>
                <option value="4">@T["List.State.Aborted"]</option>
            </select>
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody id="table-body">

    </tbody>
</table>

<script>
    const fetchEvents = async () => 
    {
    // TODO: Make dynamic from input
        const states = ["Pending", "Failed"];
        const siteName = document.getElementById("siteName").value.toLowerCase(); 
        const result = await fetch(`/${siteName}/api/events/list?` + new URLSearchParams({
            take: Number.parseInt(document.getElementById("pageSize").value),
            skip: 0
        }) + "&" + states.map(s => new URLSearchParams({ states: s }) + "&")
        , {
             headers: {
                  "Content-Type": "application/json; charset=utf-8",
                }
        });
        
        const resultAsJson = await result.json();
        
        for (const event in resultAsJson) {
            const element = document.createElement("p");
            element.innerText = "HALLO";
        
            document.getElementById("table-body").append(element)
        }
    };
    
    const reset = () => {};
    
    fetchEvents({});
</script>